$gris: #f6f5f8;
@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap";
$font-family-base: "Barlow", Sans-serif;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// Nola egin Primary testua zuria izateko? Berdina MGEP eta ETEOrekin.
// Contrastea aldatuta egiten du, baina ez da hain accesiblea.
$primary: #410B9A;
$secondary: #F29D30;
$gray: #CECECE;
$success: #5ED873;
$info: #0B9AFB;


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

$custom-theme-colors: (
    "gray": $gray,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);


// Alertentzako falta diren koloreak gehitu.
:root {
    @each $state, $color in $custom-theme-colors {
        $state-bg-color: tint-color($color, 80%);
        $state-text-emphasis-color: shade-color($color, 60%);
        $state-border-subltle-color: tint-color($color, 60%);
        --bs-#{$state}-bg-subtle: #{$state-bg-color};
        --bs-#{$state}-text-emphasis: #{$state-text-emphasis-color};
        --bs-#{$state}-border-subtle: #{$state-border-subltle-color};
    }
}
    
[data-bs-theme=dark] {
    /* begitu */
    @each $state, $color in $custom-theme-colors {
        $state-bg-color: shade-color($color, 80%);
        $state-text-emphasis-color: tiny-color($color, 40%);
        $state-border-subltle-color: shade-color($color, 40%);
        --bs-#{$state}-bg-subtle: #{$state-bg-color};
        --bs-#{$state}-text-emphasis: #{$state-text-emphasis-color};
        --bs-#{$state}-border-subtle: #{$state-border-subltle-color};
    }
}

// Beste guztia importatu
@import "../bootstrap/scss/bootstrap";
